/* Main CSS Style Sheet */

main{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#title{
    color: white;
    box-sizing: content-box;
    padding:0.1px 5px 0.1px 5px;
    background-color: rgba(80, 13, 104,1);
    text-align: left;
    max-width: 120px;
}

#para{
    text-align: justify;
    margin: 30px;
    font: Arial;
}

.titleFormat{
    color: white;
    box-sizing: content-box;
    padding: 5px 5px 5px 5px;
    background-color: rgba(80, 13, 104, 1);
    max-width: auto;
}

.titleBlocks{
    color: black;
    font-weight: bold;
    margin: 2%;
}

#contact1{
    width: 20%;
    float: left;
    margin: 3%;
}

#contact2{
    width: 20%;
    display: inline-block;
    margin: 3%;
}

#contact3{
    width: 20%;
    display: inline-block;
    margin: 3%;
}


#address {
    float: left;
    margin: 3%;
}

#GmapLink{
    display: inline-block;
    margin: 3%;
}

