/* Main CSS Style Sheet */

#contact-title {
    padding-top: 20px;
    width: 100%;
}

#contact-us {
    color: white;
    display: block;
    background-color: #791D7E;
    text-align: center;
    padding: 8px;
    margin: 0;
    /*height: 30px;*/
    width: 130px;
}

#para-block {
    width: 100%;
}

#para {
    text-align: justify;
}

.titleFormat{
    color: white;
    box-sizing: content-box;
    padding: 5px 5px 5px 5px;
    background-color: #791D7E;
    max-width: auto;
}

.titleBlocks{
    color: black;
    font-weight: bold;
    margin: 2%;
}

#contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#contact1{
    width: 30%;
    /*margin: 3%;*/
    /*background-color: crimson;*/
    display: inline-block;
    /*padding: 8px;*/
}

#contact2{
    width: 35%;
    display: inline-block;
    /*margin: 3%;*/
    /*background-color: burlywood;*/
    /*padding: 8px;*/
}

#contact3{
    width: 30%;
    display: inline-block;
    /*margin: 3%;*/
    /*background-color: chocolate;*/
    /*padding: 8px;*/
}

table tr td {
    padding-top: 4px;
}

#contact-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*background-color: greenyellow;*/
    margin-top: 40px;
}

#address {
    width: 45%;
    margin: 10px;
    /*background-color: crimson;*/
}

#telephone {
    width: 45%;
    margin: 10px;
    /*background-color: burlywood;*/
}

#GmapLink{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
}

