/*Footer*/
.footerRule{
    height: 110px;
    background-color: #791D7E;
    position: relative;
    padding-left: 0;
}

/*"Connect With Us"*/
#footerText{
    color: white;
    font-weight: 600;
    font-size: 1em;
    padding-top: 5px;
    text-align: center;
}

/*Social Media Icon Container*/
#sm-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/*Social Media Icons*/
.sm-icon{
    width: 27px;
    height: 27px;
    padding: 5px;
    border-radius: 12px;
}


