.footerRule{
    height: 100px;
    /*width: 90%;*/
    background-color: #791D7E;
    position: relative;
    padding-left: 0;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

#icon{
    width: 27px;
    height: 27px;
    padding-left: 10px;
    margin-top: -5px;
}

#footerText{
    color: white;
    font-weight: 600;
    font-size: 1em;
    padding-top: 5px;
    text-align: center;
}

#sm-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}