main {
    width: 90%;
    /*background-color: gold;*/
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 0;
    height: 100%;
}

#image-content {
    /*max-width: 800px;*/
    /*background-color: crimson;*/
    position: relative;
    width: 75%;
    padding: 0;
    margin: 5px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sidebar {
    /*background-color: midnightblue;*/
    position: relative;
    width: 25%;
    padding: 0;
    margin: 5px;
}

footer {

}