main {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

#date {
    font-style: italic;
}

h2 {
    max-width: 670px;;
    text-align: center;
    background-color: #791D7E;
    color: white;
}

#cybersec {
    float: right;
    margin: 10px;
}

#article {
    float: right;
    margin-right: 50px;
   text-align: justify;
}

#release {
    color: #791D7E;
    font-weight: bold;
}