.date {
    font-style: italic;
    width: 90%;
    text-align: left;
}

.main-heading {
    text-align: center;
    background-color: #500d68;
    color: white;
    width: 40%;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.news-heading {
    text-align: center;
    background-color: #791D7E;
    color: white;
    width: 90%;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.main-subtitle {
    text-align: justify;
    width: 90%;
    font-size: 16px;
    margin: 50px 0;
}

.subtitle {
    text-align: justify;
    width: 90%;
    font-size: 18px;
}

.news-img {
    float: right;
    margin: 40px;
}

.article {
    float: right;
    width: 90%;
}

/*Position First Row of Articles*/
.row1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
}

/*Position Second Row of Articles*/
.row2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

/*Article Positioning*/
.row1 section,
.row2 section {
    width: 250px;
    margin: 10px;
}


a {
    text-decoration: none;
    color: black;
}


.news-articles img {
    width: 250px;
    height: 150px;
}

.release {
    color: #791D7E;
    font-weight: bold;
    width: 90%;
    text-align: left;
}

p {
    text-align: justify;
    font-size: 14px;
}