/* Accordion CSS */

body {
    max-height: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
}

.courses {
    width: 50%;
    margin-left: 25%;
}

.accordion {
    background-color: #791d7e;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion.active,
.accordion:hover {
    background-color: #a02686;
}

.panel {
    padding: 8px;
    background-color: white;
    display: none;
    height: 200px;
}

.panel.show {
    display: block;
    position: relative;
    left: 0;
}

.accordion:after {
    content: "\0295";
    font-size: 11px;
    color: #FFFFFF;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2796";
}



/* END */


