/* Accordion CSS */

body {
    max-height: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
}

.courses {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.accordion {
    background-color: #791d7e;
    color: white;
    padding: 12px;
    width: 100%;
    text-align: left;
    margin: 2px 2px 0 2px;
    border: none;
    outline: none;
    -webkit-transition: 0.5s ease-in;
    font-size: 12px;
}

.accordion.active,
.accordion:hover {
    background-color: #a02686;
}

.panel {
    background-color: white;
    display: block;
    height: 0;
    -webkit-transition: 0.5s ease-out;
    overflow: hidden;
    margin-left: 2px;
    margin-right: -1px;
    padding: 0;
}

.panel.show {
    height: 200px !important;
    position: relative;
    top: 100%;
    left: 0;

}

.accordion:after {
    content: "\25bc";
    font-size: 11px;
    color: #FFFFFF;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\25b2";
}

.content {
    display: block;
    padding-left: 8px;
    font-size: 12px;
}

/* END */


