/* header CSS */

.banner {
    width: 60%;
    height:200px;
    position: relative;
}

.rguLogo {
    width:15%;
    height:75px;
    position: absolute;
    left: 389px;
    top: 97px;
}

.schoolTitle {
    width:auto;
    height:35px;
    position: absolute;
    left: 389px;
    top: 172px;
}

/* END */

