h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    width: 60%;
    box-sizing: content-box;
    text-align: right;
    margin: 0;
    padding: 0.835em 1em 0.835em 0;
    background-color: rgba(80, 13, 104, 1);
    transition: all 400ms;
    font-size: 1em;
    font-weight: 600;
}

.images:hover>h2{
    width:96%;
    background-color: rgba(80, 13, 104, 0.7);
}

.images2:hover>h2{
    width:91%;
    background-color: rgba(80, 13, 104, 0.7);
}


#courses {
    background-image: url("Images/courseimage400x146.png");
    height:147px;
    width:400px;
    position: relative;
    margin-bottom: 8px;
}

#news {
    background-image: url("Images/news180x119.png");
    height:112px;
    width:180px;
    position: relative;
    margin-bottom: 8px;
    float:left;
}

#research {
    background-image: url("Images/research180x114.png");
    height:112px;
    width:180px;
    position: relative;
    margin-bottom: 8px;
    float:right;
}



#staffstudents {
    background-image: url("Images/staffandstudents400x153.png");
    height:147px;
    width:400px;
    position: relative;
    margin-bottom: 8px;
}

#industry {
    background-image: url("Images/industry400x191.png");
    height:303px;
    width:180px;
    position: relative;
    margin-bottom: 8px;
}

#about {
    background-image: url("Images/aboutus180x112.png");
    height:112px;
    width:180px;
    position: relative;
    margin-bottom: 8px;
}

#two{
    float:right;
}

#four{
    float:left;
}

#image-links{
    max-width:600px;
}

#news-res{
    overflow:auto;
}

