#courses {
    background-image: url(Images\courses.PNG);
    height:1025px;
    width:770px;
}

#news {
    background-image: url(Images\courses.PNG);
    height:1025px;
    width:770px;
}

#research {
    background-image: url(Images\courses.PNG);
    height:1025px;
    width:770px;
}

#industry {
    background-image: url(Images\courses.PNG);
    height:1025px;
    width:770px;
}

#staffstudents {
    background-image: url(Images\courses.PNG);
    height:1025px;
    width:770px;
}

#about {
    background-image: url(Images\courses.PNG);
    height:1025px;
    width:770px;
}