
/* Navigation CSS */


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #791d7e;
}



li {
    display: inline-block;
    position: relative;
    padding: 8px;
}

li a {
    text-decoration: none;
    width: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #FFFFFF;
    display: block;
    text-align: center;
}


ul li:hover {
    background-color: #a02686;
}


.sub-menu {
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    padding: 0;
    text-align: left;
}

.sub-menu li {
    display: block;
}

.sub-menu li a {
    text-align: left;
}

li:hover .sub-menu {
    display: block;
}

/* Search Bar */

input[name=search] {
    width: 70px;
}


/* END */
