main {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}



#placement-title {
    background-color: rgba(80, 13, 104, 1);
    color: white;
    margin-right: 550px;
}

#graph{
    float: left;
}

div {
    margin-left: auto;
    margin-right: auto;
}

